{% extends "layout.html" %}

{% block content %}
    <section class="banner-main">
       
            <h1 class="title-main">ПОПРОБУЙТЕ СЕБЯ В НОВОЙ ПРОФЕССИИ</h1>
   
           <div class="icon_contener-main">
                       <div class = icon-01>
                           <div class="coff">
                             <img src="/static/images/image15.svg" >
                          </div>
                          <div  class="icon-title">
                            <h2 class="h2-main">современное оборудование</h2>
                          </div>
                    </div>

                    <div class = icon-02>
                        <div class="coff">
                           <img src="/static/images/image16.svg" >
                        </div>
                        <div  class="icon-title">
                            <h2 class="h2-main">приятная атмосфера</h2>
                          </div>
                   </div>
                   <div class = icon-03>
                    <div class="coff">
                        <img src="/static/images/image17.svg" >
                     </div>
                     <div  class="icon-title">
                         <h2 class="h2-main">работа в команде</h2>
                       </div>
                   </div>
                   <div class = icon-04>
                    <div class="coff">
                        <img src="/static/images/image18.svg" >
                     </div>
                     <div  class="icon-title-04">
                         <h2 class="h2-main">практические задания</h2>
                       </div>
                   </div>
           </div>
            
    </section>

    <section class="dernier"> 
       
              <div class="img_contener-main">
                    <div class = img-01>
                        <div class="ok">
                          <img src="/static/images/photo.png" >

                       </div>

                       <div  class="img-title">
                         <h3 class="h3-main">Преимущество 1</h3>
                         <p class="p-main">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной.</p>
                       </div>

                    </div>

                 <div class = img-02>
                     <div class="ok">
                        <img src="/static/images/photo.png" >

                     </div>

                     <div  class="img-title">
                         <h3 class="h3-main">Преимущество 2</h3>
                         <p class="p-main">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной.</p>
                       </div>

                 </div>
                         <div class = img-03>
                                 <div class="ok">
                                     <img src="/static/images/photo.png" >

                                  </div>

                                  <div  class="img-title">
                                   <h3 class="h3-main">Преимущество 3</h3>
                                   <p class="p-main">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной.</p>
                                 </div>
                         </div>
                 <div class = img-04>
                 <div class="ok">
                     <img src="/static/images/photo.png" >
                  </div>

                  <div  class="img-title">
                   <h3 class="h3-main">Преимущество 4</h3>
                   <p class="p-main">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной.</p>
                 </div>
                 </div>
             </div>
    </section>

    

<script type="text/javascript" src="/static/javascripts/topmenu.js"></script>

{% endblock %}
