{% extends "layout.html" %}

{% block content %}
    <div class="banner-school">
        <h1 class="title-school">НОВОСТИ</h1>

    
        <div class="block_contener-school">
           
          <div class = block-01>
                <div class="coff">
                  <img src="/static/images/image9.png" >
               </div>      
           </div>
         
          <div class = block-02>
              <div  class="block-title-school">
                 <p>НОВОСТИ ИНДУСТРИИ</p>
               </div> 
              
              <div  class="block-text-school">
                <p>Новые санкции повлияют на рост внутреннего потребления продукта!</p>
              </div> 
              
              <div  class="block-textmain-school">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  </p>
              </div> 
             
              <div  class="block-textlast-school">
                <p>02/04/2019</p>
              </div> 

           </div>
       
           <div class = block-03>
            <div  class="block-title-school">
               <p>НОВОСТИ ИНДУСТРИИ</p>
             </div> 
            
            <div  class="block-text-school">
              <p>Новые санкции повлияют на рост внутреннего потребления продукта!</p>
            </div> 
            
            <div  class="block-textmain-school">
              <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.  </p>
            </div> 
           
            <div  class="block-textlast-school">
              <p>02/04/2019</p>
            </div> 

         </div>
     </div>
</div>

<div class="dernier-school">
    <h1 class="derntitle">Наши специалисты</h1>  
    <div class="img_contener-school">
        <div class = img-school>
            <div class="coff">
              <img src="/static/images/image 1.png" >
           </div>   
           <div  class="img-title-school">
             <p>Мерязевский
                Иван Иванович</p>
           </div>
           <div  class="img-text-school">
            <p> <span style ="color:#00B2FF"> • </span>  Магистр экономики и MBA</p>
            <p> <span style ="color:#00B2FF"> • </span>  Опыт работы 15 лет</p>
            <p> <span style ="color:#00B2FF"> • </span>  Член академии наук РФ</p>
          </div> 

     </div>
     
     <div class = img-school>
         <div class="coff">
            <img src="/static/images/image 2.png" >
         </div>
         <div  class="img-title-school">
             <p>Мерязевский
                Иван Иванович</p>
           </div> 
           <div  class="img-text-school">
            <p> <span style ="color:#00B2FF"> • </span>  Магистр экономики и MBA</p>
            <p> <span style ="color:#00B2FF"> • </span>  Опыт работы 15 лет</p>
            <p> <span style ="color:#00B2FF"> • </span>  Член академии наук РФ</p>
          </div> 
    </div>
    <div class = img-school>
     <div class="coff">
         <img src="/static/images/image 3.png" >
      </div>
      <div  class="img-title-school">
          <p>Мерязевский
            Иван Иванович</p>
        </div> 
        <div  class="img-text-school">
          <p> <span style ="color:#00B2FF"> • </span>  Магистр экономики и MBA</p>
          <p> <span style ="color:#00B2FF"> • </span>  Опыт работы 15 лет</p>
          <p> <span style ="color:#00B2FF"> • </span>  Член академии наук РФ</p>
        </div> 
    </div>
    <div class = img-school>
     <div class="coff">
         <img src="/static/images/image 4.png" >
      </div>
      <div  class="img-title-school">
          <p>Каюмова Алиса Васильевна</p>
        </div> 
        <div  class="img-text-school">
          <p> <span style ="color:#00B2FF"> • </span>  Магистр экономики и MBA</p>
          <p> <span style ="color:#00B2FF"> • </span>  Опыт работы 15 лет</p>
          <p> <span style ="color:#00B2FF"> • </span>  Член академии наук РФ</p>
        </div> 
    </div>
    </div>
</div>

{% endblock %}