{% extends "layout.html" %}

{% block content %}
		<div class="content-students">
			<img src="/static/images/StockSnap_GHIBZPY4FS 1.png" width="100%">
		</div>	
		
		<div class="events">
			<h1 class="zagolovok">АКТУАЛЬНЫЕ СОБЫТИЯ</h1>
			<div class="newcontainer">
					<article class="some">
						<img src="/static/images/female-fitness_PZZ0UUJLT7 1.png" class="illustration">
							<div class="description">
								<h2 class="h2-school">Событие</h2>
								<p class="p-school">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus congue ipsum, eget efficitur nibh dictum id. Aliquam facilisis mauris ut finibus bibendum. Morbi ornare rhoncus risus, rhoncus pharetra justo pulvinar nec. Nulla pellentesque, ipsum et volutpat vestibulum, odio leo bibendum ipsum, vel hendrerit erat </p>
							</div>
					</article>
					<article class="some1">
						<img src="/static/images/business meeting-people_QVIEE1UZSX 1.png" class="illustration">
							<div class="description">
								<h2 class="h2-school">Событие</h2>
								<p class="p-school">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus congue ipsum, eget efficitur nibh dictum id. Aliquam facilisis mauris ut finibus bibendum. Morbi ornare rhoncus risus, rhoncus pharetra justo pulvinar nec. Nulla pellentesque, ipsum et volutpat vestibulum, odio leo bibendum ipsum, vel hendrerit erat </p>
							</div>
					</article>
			</div>
		</div>
		
		<script src="menu.js"></script>


{% endblock %}